/**
 * Fix user-agent
 */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/**
 * Canvas
 */

.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.panel {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 20px;
}

.brush {
  border: 1px solid #979797;
}

.color {
  display: inline-block;
  border-radius: 100%;
  height: 20px;
  width: 20px;
}

.color.black {
  background-color: black;
}

.color.red {
  background-color: #E83A30;
}

.color.pink {
  background-color: #E8308C;
}

.color.purple {
  background-color: #8930E8;
}

.color.blue {
  background-color: #3080E8;
}

.color.green {
  background-color: #30E849;
}

.color.yellow {
  background-color: #E8E230;
}

.color.orange {
  background-color: #E86830;
}

.color.brown {
  background-color: #794628;
}
